<% if logged_in? %>

<h1><img src="<%= gravatar_url(current_user, { size: 50 }) %>
"><%= current_user.name %>さんのやること！</h1>
<br>
<ul>
  <% @tasks.each do |task| %>
  <li>
    <%= link_to task.id, task %>
    <%= task.created_at %>
    <%= task.content %>
    =&gt;状態：<%= task.status %>
    
  </li>
  
  </ul>
<% end %>

<%= paginate @tasks %>

<br>

<%= link_to 'やること追加する', new_task_path %>

<% else %>

<% render login_path %>

<%  end %>