<h1>登録</h1>

<%= form_with(model:@user, local:true) do |f| %>

<%= render 'layouts/error_messages', model: f.object %>

<%= f.label :name,'名前' %>

<br>

<%= f.text_field :name %>

<br>

<%= f.label :email,'Email' %>
<br>
<%= f.email_field :email %>

<br>

<%= f.label :password,'パスワード' %>
<br>
<%= f.password_field :password %>

<br>

<%= f.label :password_confirmation, 'パスワード確認' %>
<br>
<%= f.password_field :password_confirmation %>

<br>
<br>

<%= f.submit 'Submit' %>

<% end %>